@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&family=Work+Sans:wght@300;400;500&display=swap');
*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.3rem;
    margin-left: 15px;
}

p, div, input, button {
    font-family: 'Work Sans', sans-serif;
}